@import "normalize.styl"
@import "iconfont.styl"
@import "dreediSlideShow.styl"
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

//Colores
azulOscuro = #3c7b9e
azul = #52a7f9
//Colores

// OCC Classes
// OCC Classes
html
	margin 0 
	padding 0

body
	background white
	font-family 'Roboto', sans-serif
	font-size 16px
	margin 0 
	padding 0

ul
	list-style none

a
	color azul
	text-decoration none

header
	position fixed
	top 0
	left 0
	rigth 0
	width 100%
	height 50px
	z-index 999

	nav
		background white
		padding 1px
		width 90%
		margin 4px auto
		height 100%
		position relative
		border-radius 2px
		-webkit-box-shadow 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset
		-moz-box-shadow 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset
		box-shadow 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset

		ul
			margin 0
			padding 0
			position relative

		.logoCompleto
			height 45px
			width 
			margin 0
			padding 0
			width 110px

			a
				display block
				height 100%

				figure
					height 80%
					margin 5% .4em
					padding 0

					img
						height 100%

		.visibleMenu
			display block
			margin 0
			padding 1px
			width 30px
			height 30px
			position absolute
			top .1em
			right .3em
			font-size 1.5em

			transition .2s
			-webkit-transition .2s
			-moz-transition .2s
			-ms-transition .2s
			-o-transition .2s

			&:hover
				opacity 0.5
		
		#menuContraible
			background white
			width 50%
			margin 0 auto
			border-radius 3px
			position relative
			margin-top 20px
			padding .5em .8em
			opacity 0
			transition .3s ease-in-out

			&:hover
				-webkit-box-shadow 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset
				-moz-box-shadow 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset
				box-shadow 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset

			.triangulo
				display block
				width 0px
				height 0px
				border-left 10px solid transparent
				border-right 10px solid transparent
				border-bottom 10px solid white
				position absolute
				top -13px
				right 45%

			li
				text-align center
				display block
				margin .2em .2em
				font-weight 100

				a
					padding 1em



section
	.PrincipalPage
		width 100%
		height 30em
		position relative
	
	.Slogan
		background #3c7b9e
		margin 0
		padding 1em .5em
		transition .2s

		&:hover
			box-shadow 0 17px 50px 0 rgba(0,0,0,.3)

		h2
			color #efe
			text-align center
			letter-spacing 1px
			font-weight 100
			text-trasnform italic



	.Us
		background #efefef
		margin 0
		padding 2em .5em
		color #444
		transition .2s

		&:hover
			box-shadow 0 17px 50px 0 rgba(0,0,0,.3)

		h2
			text-align center
			font-size 1.5em

		p
			font-weight 300
			text-align center

	.Work
		background #0d1a25
		margin 0
		padding 1em .5em
		color #efefef
		transition .2s

		&:hover
			box-shadow 0 17px 50px 0 rgba(0,0,0,.3)

		.designSection
		.systemSection
		.appsSection
			margin 1.5em
			padding 0

			h2
				font-weight 100
				text-align center
			
			figure
				width 60px
				margin 0 auto
				padding 0

				img
					width 100%	


			p
				text-align center
				font-weight 100
				margin .3em 2en

	.OpenSource
		background #ecf0f1
		margin 0
		padding 1em .5em
		color #333
		transition .2s

		&:hover
			box-shadow 0 17px 50px 0 rgba(0,0,0,.3)

		figure
			width 200px
			margin 0 auto
			padding 0

			img 
				width 100%
				margin 0 auto

		h2
			text-align center

		p
			margin 0 1em
			text-align center
			font-weight 300

	.Clientes
		background #3c7b9e
		margin 0
		padding 1em .5em
		color #ecf0f1
		transition .2s

		&:hover
			box-shadow 0 17px 50px 0 rgba(0,0,0,.3)

		h2
			text-align center

		.clienteSection
			width 100%

			figure
				width 200px
				padding-top .5em
				border-top 2px solid #ecf0f1
				margin 0 auto

				img
					width 100%

			h3
				font-weight 100
				font-style italic
				text-align center
				width 200px
				margin 0 auto
				padding-bottom .5em
				border-bottom 2px solid #ecf0f1

	.Contactanos
		background #2E3234
		margin 0
		padding 2em .5em
		color white
		transition .2s

		&:hover
			box-shadow 0 17px 50px 0 rgba(0,0,0,.3)

		h2
			text-align center
			font-weight 100

		p
			text-align center
			font-weight 100

		form
			width 70%
			display block
			margin 2em auto

			input, textarea, button
				display block
				border none
				border-radius 2px
				width 100%
				margin .5em auto
				margin-left -1em
				padding 0 1em
				color #565656
				height 3.3em

				&:focus 
					outline none

			textarea
				height 8em
				padding-top .5em

			input[type="submit"]
				display block
				margin-top 1em
				margin-left .1em
				background #215f8b
				color white
				text-transform uppercase

footer
	background #fff
	margin 0
	padding 1em 0
	color #333

	.socialSection
		width 100%

		figure 
			width 24%
			margin .5em 0 0 0
			padding 0
			opacity 1
			display inline-block
			transition .3s

			&:hover
				opacity .8

			img
				width 50%
				max-width 50px
				display block
				margin 0 auto
				padding 0
	
	.DreediInfo
		width 200px
		margin .5em auto
		padding 0

		figure
			width 100px
			margin 0 auto
			padding 0

			img
				width 100%
				margin 0
				padding 0

		p
			text-align center
			font-style italic
			font-size .6em
			font-weight 100
			color #333



























